[Unit]
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service
Requires=clearwater_homer.service
After=clearwater_homer.service
Requires=clearwater_homestead.service
After=clearwater_homestead.service

[Service]
TimeoutStartSec=0
Type=simple
Restart=on-failure
RestartSec=60
EnvironmentFile=/etc/environment

Environment=nodeArgs=--debug
Environment=image=attinnovate/clearwater-ellis
Environment=port=8002
Environment=debugPort=8102
Environment=srcDir=/home/core/cloudmeter

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=-/usr/bin/docker pull ${image}

ExecStart=/bin/bash -c '/usr/bin/docker run --rm -v /var/log/ellis --name ellis -p 22 -p 9080:9080 --link homestead:homestead --link homer:homer ${image}'

#ExecStartPost=/usr/bin/etcdctl set /skydns/local/cluster/%p '{"host":"${COREOS_PRIVATE_IPV4}"}'

ExecStop=/usr/bin/docker kill %p

#ExecStopPost=/usr/bin/etcdctl rm /skydns/local/cluster/%p
